.logo {
    position: absolute;
    left: 0%;
top: 0%;

    background: #6E76F1;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.logoClever {
    position: absolute;
    left: 48px;
    top: 12px;
    width: 111px;
    
    
}