.cardwrapper {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 32px;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
border-radius: 10px;
padding-left: 8px;
}

img {
    margin-left: 0px;
     margin-top: 8px;
}

.WraperStar {
    margin-top: 8px;
    margin-bottom: 5px;
}

.bookName {
height: 36px;
overflow: hidden;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #363636;
}
.bookAutor {
    margin-top: 3px;
    margin-bottom: 28px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #727272;

}
